<h1>Stock in our store</h1>
 <% if @products.blank? %>
 <em> No stock available</em>

 <%else%> 

<table>
 <%= link_to "Home", "/welcome/index/" %>
<thead>
  <tr>
     <th>Units available</th>
    <th>Product</th>
    
   
    <th>Discount </th>
     <th>        </th>
      <th>Price </th>
    

  </tr>
</thead>
 <tbody>
  <% @products.each do |product| %>
    <tr>
    
     <%# <td> <%=image_tag(product.img_file,{:style => "width:100px;"})%></td>
      <td><%= product.quantity %></td>
      <td><%= product.item %></td>
      <%# <td><%= product.description %></td>
      <td><%= product.discount %></td>
      <th><%= product.onclearance%></td>
     
      <th><%= number_to_currency(product.priced) %></td>
      <td>
       <%= link_to "Details", "/products/#{product.id}" %>
      </td>
    </tr>
  <%end %>
  </tbody>

</table>
<%end %>