<section class="jumbotron text-center" >
    <div class="container">
<h3>Stock in our store</h3>
 <% if @products.blank? %>
 <em> No stock available</em>

 <%else%> 
<%= link_to "Home", "/welcome/index/" %>
 

 
<table>
  <tr>
  <th class="text-left">Category</th>
    <th class="text-center">Units</th>
    <th class="text-center">Product</th>
    
   
    <th class="text-center">Discount </th>
    <th><%= "  " %></th>
    <th><%= "  " %></th>
    <th><%= "  " %></th>
      <th class="text-right" >Price </th>
      
    

  </tr>

</div>
</section>
<div class="card-body">
 <tbody>
 
    <% @products.each do |product| %>
      <tr>

            <td class="text-left"><%= product.category%>
            <td><%= product.quantity %></td>
            <td class="text-left"><%= product.item %></td>
          <% if product.discount != "0%" %>
            <td><%= product.discount %></td>
            <td><%= product.onclearance%></td>
            <% else%>
            <td><%= "" %></td>
            <td><%= ""%></td>
          <%end %>
          <td><%= "" %></td>
          <td><%= "" %></td>
            <td><%= number_to_currency(product.priced) %></td>
            <td><%= "" %></td>
            <td><%= "" %></td>
            <td><%= link_to "Details", "/products/#{product.id}" %></td>
            
        
        
      </tr>
    <%end %>
  </tbody>
  </div>

</table>

<%end %>