<section class="jumbotron text-center" >
    <div class="container">
<h1><%=@product.item%></h1>

 
<thead>
    <tr>
<p> <%= @product.description %></p>
<td> <%=image_tag(@product.img_file,{:style => "width:300px;margin-left:50px"})%></td> <br>

    </tr>
</thead> 


<tbody>
<p class="text-left">Product Specifications</p>
     <ul>
       
         <li class="text-left">Width:<%= @product.dimension_w%></li>
         <li class="text-left">Length:<%= @product.dimension_l%></li>
         <li class="text-left">Height:<%= @product.dimension_h%></li>
        <li class="text-left">Original price:<%= number_to_currency(@product.price)%></li>
         <li class="text-left">Discount:<%= @product.discount%></li>  
        <li class="text-left"> Price with Discount:<%=number_to_currency(@product.priced)%></li> 
     
      </ul>
       <%= link_to "Back to list     ", "/products/" %> <br>
       <%= link_to "    Home", "/welcome/index/" %>
      </li>
  
  </tbody>
  </div>
</section>

