<h1>Detail of Product</h1>

 
<thead>
    <tr>
<h3> <%= @product.description %></h3>
<td> <%=image_tag(@product.img_file,{:style => "width:400px;margin-left:600px"})%></td> <br>
<th>Product Specifications</th>
    </tr>
</thead> 
<tbody>
     <ul>
        <li>Discount:<%= @product.discount%></li>  
         <li>Width:<%= @product.dimension_w%></li>
         <li>Length:<%= @product.dimension_l%></li>
         <li>Height:<%= @product.dimension_h%></li>
        <li>Original price:<%= number_to_currency(@product.price)%></li>
        <li> Price with Discount:<%=number_to_currency(@product.priced)%></li> 
     
      </ul>
       <%= link_to "Back to list", "/products/" %>
      </li>
  
  </tbody>


